option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: expenseTracker.expenseTracker.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: expenseTracker.expenseTracker.settings

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /staticfiles
